/* nav for sticky bar */

nav {
    background-color: rgb(219, 219, 219) !important;
}

.sticky {
    position: sticky !important;
    top: 0;
}


/* title tag element */

.title {
    font-size: 30px;
    font-family: calibri;
    text-align: center;
}


/* styling for buttons */

button {
    border-radius: 2px;
    margin-left: 3px;
}


/* on hover for buttons */

button:hover {
    cursor: pointer;
}

.options {
    padding-bottom: 3px;
}

body {
    margin: 1px !important;
}


/* styling for table */

table {
    min-width: 100%;
    border-collapse: collapse;
    empty-cells: hide !important;
}

td {
    min-width: 44.3px;
    min-height: 400px;
    text-align: center;
}

tr {
    line-height: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

td:hover {
    cursor: pointer;
}

.highlight {
    background-color: blanchedalmond;
}


/* file hidden */

.fileUpload {
    display: none;
}